<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediCare"
        tools:targetApi="31">
        <activity
            android:name=".activity.UserLabTest"
            android:exported="false" />
        <activity
            android:name=".activity.AddLabActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AdminLabTest"
            android:exported="false" />
        <activity
            android:name=".activity.MessageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ViewMessagesAdmin"
            android:exported="false" />
        <activity
            android:name=".activity.DoctorListUser"
            android:exported="false" />
        <activity
            android:name=".activity.DoctorDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChatPageUser"
            android:exported="false" />
        <activity
            android:name=".activity.AddDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UserCart"
            android:exported="false" />
        <activity
            android:name=".activity.MedicineDetails"
            android:exported="false" />
        <activity
            android:name=".activity.UserMedicine"
            android:exported="false" />
        <activity
            android:name=".activity.AdminMedHome"
            android:exported="false" />
        <activity
            android:name=".activity.AdminMedicine"
            android:exported="false" />
        <activity
            android:name=".activity.UserReminder"
            android:exported="false" />
        <activity
            android:name=".activity.AdminHome"
            android:exported="false" />
        <activity
            android:name=".activity.SignUp"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignIn"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MediCare">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>